@{
	ViewBag.Title = "MainMenu";
}

<h2>Main Menu</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input name="submit" type="submit" value="Play!" class="btn btn-default" />
			</div>
		</div>
	</div>

}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input name="submit" type="submit" value="Account" class="btn btn-default" />
			</div>
		</div>
	</div>

}
